{% for book in books %}
    <li>
        <a href="{{ path('book_show', book.rp) }}">
            {{ book.title }}
        </a>
        {{ book.info ? book.info.number_of_pages|default('?') }} <pages></pages>
        <br />
        <ol>
            {% for userBook in book.userBooks %}
                <li>{{ userBook.user.email }}</li>
            {% endfor %}

        </ol>
{#        {{ barcode(book.isbn, 2, 80, 'black') }}#}
{#        {{ book.createdAt|date('c') }}#}
    </li>
{% endfor %}
