{% extends '@SurvosMobile/start.html.twig' %}

{% block title %}Hello World!{% endblock %}

{% block xxbody %}
    <main class="container">

        {% set _sc = 'library' %}
        <div {{ stimulus_controller(_sc) }}>
            Library status:
            <span {{ stimulus_target(_sc, 'status') }}>??</span>
        </div>

    {% set _sc = 'scanner' %}
    <a href="{{ path('app_scan') }}" class="btn">
        <button>
            <i class="bi bi-upc-scan"></i>
            {{ 'scan'|trans }}
        </button>
    </a>
        <a href="{{ path('app_qr') }}" class="btn">
            <button>
                <i class="bi bi-qr-code-scan"></i>
                {{ 'mobile login'|trans }}
            </button>
        </a>

    <hr />
        {% set _sc = 'content-loader' %}
        <div {{ stimulus_controller(_sc, {
            loadScripts: true,
            refreshInterval: 5000,
            url: path('app_list') }) }}
                data-content-loader-load-scripts-value="true"
                data-content-loader-refresh-interval-value="5000"
        >
            <i class="bi bi-book-half"></i>
        </div>

{#        <div hx-get=""#}
{#             hx-target="this"#}
{#             hx-trigger="load, every 3s"#}
{#        >#}
{#        </div>#}

{#        <hr />#}
{#        <form>#}
{#            <input type="text">#}
{#            <button>Submit</button>#}
{#        </form>#}
    </main>
{% endblock %}
