{% extends "@SurvosMobile/onsPage.html.twig" %}

{% block pageId 'share' %}
{# since share is a tab page, it's not necessary to change the header, like a menu page #}
{% block toolbar %}
    {#    {{ parent() }}#} {#  this will add the back button #}
{% endblock %}
{% block body %}

    {#    {% set url = absolute_url(path('project_mobile')) %}#}
    {#    <img src="{{ qr_code_url(url) }}" />#}
    {#    <br />{{ url }}#}
    {% set globals = {
        _locale: app.request.locale,
        host: app.request.schemeAndHttpHost
    } %}
            {% set url = globals.host ~ path('app_homepage')  %}
            <div {{ stimulus_controller('qr', {text: url}) }}>
                <img {{ stimulus_target('qr', 'img') }} />
                <br />{{ url }}
            </div>


    <twig:PwaInstall>
        <twig:block name="launch">
            <button class="btn btn-outline-success">
                Launch button here...
            </button>
        </twig:block>
        <twig:block name="install">
            <i class="bi bi-download"></i>
            Install
        </twig:block>
    </twig:PwaInstall>

{% endblock %}
