{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ book.title }}</h1>
    <code>{{ book.isbn }}</code>

    <p>
        {{ book.description }}
    </p>

    Sujetos: {{ book.info.subjects|default([])|join('; ') }}
    <h3>{{ 'authors'|trans }}</h3>
    <ul>
        {% for author in book.authors %}
            <li>{{ author.name }}</li>
        {% endfor %}
    </ul>

    {{ dump(book.info) }}
{% endblock %}
