{% extends 'base.html.twig' %}

{% block title %}Hello QRBooksController!{% endblock %}

{% block body %}
    <table>
        <tbody>


    {% for row in records %}
        {% if row[2] %}
        <tr valign="top" style="height: 400px">
            <td>
                <img src="{{ qr_code_data_uri(row[2]) }}" />
            </td>
            <td>
                {{ row[0] }}
                <br /><i>{{ row[1] }}</i>
                <br /><tt>{{ row[2] }}</tt>
                {% if row[2] %}
                <br />{{ barcode(row[2]) }}
                {% endif %}
            </td>
        {% endif %}
        </tr>

    {% endfor %}
        </tbody>
    </table>
{% endblock %}
