{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}


    <a href="{{ path('user_export_books') }}"><button>Export</button> </a>

    <h1>{{ app.user.email }} Books</h1>
    {% for userBook in userBooks %}
        {% set book = userBook.book %}
        <li>
            {{ book.isbn }}
            {{ book.title }}
            {{ book.status }}
        </li>
    {% endfor %}

{% endblock %}
